spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sellify_platform
    username: sellify_admin
    password: sellify_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC